.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.timeline-container::after {
  background-color: #0059b3;
  content: '';
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 10px 0;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}

.timeline-item-content {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  position: relative;
  width: 400px;
  max-width: 100%;
  text-align: right;
}

.timeline-item-content::after {
  content: ' ';
  background-color: #fff;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -7.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
  text-align: left;
  align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  top: 5px;
  left: 5px;
  letter-spacing: 1px;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
  border-radius: 4px;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
  left: auto;
  right: 5px;
}

.timeline-item-content time {
  color: #777;
  font-size: 12px;
  font-weight: bold;
}

.timeline-item-content h2 {
  font-size: 18px;
  font-weight: bold;
}

.timeline-item-content p {
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
  max-width: 90%;
}

.timeline-item-content a {
  font-size: 14px;
  font-weight: bold;
}

.timeline-item-content a::after {
  content: ' ►';
  font-size: 12px;
}

.timeline-item-content .circle {
  background-color: #fff;
  border: 3px solid #0059b3;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -40px;
}

@media only screen and (max-width: 1023px) {
  .timeline-item-content {
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .timeline-item-content {
    padding-left: 10%;
  }

  .timeline-container::after {
    left: 10px;
    right: auto;
  }

  .timeline-item-content {
    max-width: 98%; /* Allow content to use the full width */
    margin-left: 15px; /* Adjust padding for content */
    text-align: center; /* Center-align content */
    align-items: center; /* Center-align items */
  }

  .timeline-item,
  .timeline-item:nth-child(odd) {
    width: 98%;
    align-self: flex-start;
    justify-content: flex-start;
    margin-left: 15px;
  }

  .timeline-item:nth-child(odd) {
    margin-left: -15px;
  }

  .timeline-item-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  .timeline-item-content,
  .timeline-item:nth-child(odd) .timeline-item-content {
    max-width: 100%; /* Allow content to use the full width */
    padding: 15px; /* Adjust padding for content */
    text-align: center; /* Center-align content */
    align-items: center; /* Center-align items */
  }

  .timeline-item-content,
  .timeline-item:nth-child(odd) .tag {
    width: auto; /* Allow tag to use available width */
    text-align: center; /* Center-align tag */
    left: 0;
    right: 0;
    font-size: 10px;
  }

  .timeline-item-content .tag {
    left: auto;
    right: 5px;
    font-size: 10px;
  }

  .timeline-item-content time {
    margin-top: 20px;
    padding-top: 20px;
  }

  .timeline-item-content a {
    text-decoration: underline;
  }

  .timeline-item-content a::after {
    display: none;
  }

  .timeline-item-content .circle {
    right: calc(50% - 10px);
    left: -28px;
  }

  .timeline-item:nth-child(odd) .timeline-item-content .circle {
    right: calc(50% - 10px);
    left: -28px;
  }

  .timeline-item-content h2 {
    font-size: 16px; /* Adjust font size for better readability */
    text-align: center;
  }

  .timeline-item-content p {
    font-size: 14px; /* Adjust font size for better readability */
    line-height: 1.5; /* Adjust line height for better spacing */
    margin: 15px 0;
    max-width: 100%; /* Allow paragraph to use the full width */
    text-align: left; /* Adjust text alignment as needed */
  }
}
